@model List<LibraryApplication.Models.Book>

<h3>Kitaplar Listesi</h3>

<p>
    <a class="btn btn-success" asp-action="Create">Yeni Kitap Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Kitap</th>
            <th>Yazar</th>
            <th>Kapak Resmi</th>
            <th>Uygunluk Durumu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
             
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>