@model List<LibraryApplication.Models.BorrowedBook>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h3>Kişi Listesi</h3>

<p>
    <a class="btn btn-success" asp-action="Create">Yeni Ödünç Verme İşlemli</a>
</p>

<table class="table">
    <thead>
        <tr>

            <th>Kitap</th>
            <th>Ödünç Alan Kişi</th>
            <th>Ödünç Alma Tarihi</th>
            <th>Geri Getireceği Tarih</th>
            <th>Teslim İşlemi</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>

                <td>
                    <a id="teslimAlButton-@item.Id" class="btn btn-outline-success" asp-controller="BorrowedBooks" asp-action="TeslimAl" data-book-id="@item.Id">Teslim Alındı</a>
                </td>



            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('a[id^="teslimAlButton"]').click(function (event) {
            event.preventDefault(); 
            var button = $(this);
            var bookId = button.data('book-id');
            button.removeClass('btn-outline-success').addClass('btn-success');
          
            button.prop('disabled', true);

        
            $.ajax({
                url: '/BorrowedBooks/TakeBack/' + bookId,
                type: 'POST',
                success: function (result) {
                   
                   
                    alert('Kitap teslim alındı!');
                },
                error: function () {
                    alert('Hata oluştu.');
                }
            });
        });
    });
</script>

